* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "tinos";
    --footer-font: "genos";
    --violet: #564d80;
}

p {
    color: rgb(54, 54, 54);
}

main {
    display: flex;
    flex-direction: column;
    margin: 6rem;
}

.link-icon {
    width: 2rem;
}

.header-styling {
    background-color: var(--violet);
    transform: skewY(-7deg);
    height: 30rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.cover-img-container {
    position: relative;
    overflow: hidden;
    width: min(100vw - 2.5rem, 650px);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.img.portrait {
    width: 100%;
    display: block;
}

.my-name {
    position: absolute;
    font-size: 3rem;
    text-align: left;
    left: 20px;
    bottom: 40px;
    z-index: 2;
    color: white;
}

.about-me-container {
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: min(100vw - 40px, 500px);
}

.about-me-container > h1 {
    margin-bottom: 1.2rem;
}

.txt.heading {
    font-family: var(--main-font);
    font-weight: 500;
}

.txt.about-me {
    font-size: 1.4rem;
    font-family: var(--main-font);
    margin-bottom: 1.2rem;
}

.buttons-container {
    display: flex;
    justify-content: end;
    gap: 0.2rem;
}

section {
    width: 100%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    gap: 4rem;
    padding: 1rem;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.project:hover {
    transform: scale(1.1);
}

.screenshot {
    height: 250px;
    width: 100%;
}

.project-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 200;
    font-family: var(--main-font);
}

.project-headings {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 3px;
}

.project-headings > .link-icon {
    width: 1.5rem;
}

.project-icons-container {
    display: flex;
    gap: 0.4rem;
}

.project-desc {
    font-size: 1.1rem;
    font-family: var(--main-font);
}

footer {
    width: 100%;
    background-color: var(--violet);
    padding: 2rem 0px;
}

.footer-container {
    height: 100%;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
}

.my-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 70%;
    padding: 1rem;
}

.my-details > * {
    color: white;
}

.my-details > h1 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--main-font);
}

.my-details > p {
    font-size: 1.5rem;
    font-family: var(--footer-font);
}

.img.landscape {
    max-width: 600px;
    height: auto;
    object-fit: contain;
    box-shadow: rgba(39, 41, 43, 0.5) 0px 8px 24px;
    margin: 1rem;
}

.link-icon:hover{
    transform: scale(1.05) rotate(5deg); 
}

/* Mobile Breakpoint */
@media (max-width: 800px) {
    html {
        font-size: 10;
    }

    .header-info {
        flex-direction: column;
        height: auto;
        box-shadow: none;
    }

    .img.portrait {
        width: 350px;
        height: 350px;
    }

    .cover-img-container {
        width: 350px;
        height: 350px;
        margin-bottom: 20px;
    }

    .header-styling {
        height: 16rem;
    }

    .my-name {
        font-size: 3rem;
    }

    .about-me-container {
        margin-bottom: 5rem;
    }

    .project:hover {
        transform: scale(1);
    }

    .footer-container {
        flex-direction: column;
    }

    .img.landscape {
        width: 400px;
        border-radius: 4px;
    }
}

/* Tablet Breakpoint */
@media (min-width: 800px) and (max-width: 1100px) {
    .header-info {
        display: block;
    }

    .img.portrait {
        width: 350px;
        height: 350px;
    }

    .my-name {
        position: absolute;
        font-size: 3rem;
        text-align: left;
        left: 15px;
        bottom: 10px;
        z-index: 2;
        color: white;
    }

    .cover-img-container {
        width: 350px;
        height: 350px;
        float: left;
        margin-right: 1rem;
    }

    .about-me-container {
        margin-top: 60px;
        width: min(100vw - 2.5rem, 650px);
    }

    .img.landscape {
        width: 400px;
    }
}

@media (max-width: 300px) {

}
